<div class="container">
  <div class="d-flex">
    <div>
    <%= cl_image_tag @pokemon.photo.key, height: 300 %>
    <h2><%= @pokemon.name %></h2>
    <p><%= @pokemon.element_type %></p>
    </div>
    <div class="mt-5">
      <%= simple_form_for [@pokemon, @pokeball] do |f| %>
        <%= f.association :trainer %>
        <%= f.input :location %>
        <%= f.input :caught_on, as: :date, html5: true %>
        <%= f.submit 'Catch it!', class: "btn btn-warning" %>
      <% end %>

    </div>
  </div>
</div>
