<div class="container d-flex">
  <div>
    <h1><%= @trainer.name %></h1>
    <p><%= @trainer.name %></p>
    <%= cl_image_tag @trainer.photo.key %>
  </div>
  <div>
  <h2>Their pokemons</h2>

  <% @trainer.pokemons.each do |pokemon| %>
    <h3><%= pokemon.name %></h3>
    <p><%= pokemon.element_type %></p>
    <%= cl_image_tag pokemon.photo.key %>
  <% end %>

  </div>

</div>
